@media screen and (max-width: 1023px) {
    .navbar-menu {
        background-color: $orange;
    }
}

html {
    background: url("../static/img/topography.png");
    background-size: 1000px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#app {
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: 25vh;
}

.navbar {
    background-image: linear-gradient(90deg, $pink 10%, $orange 90%);
}

.hero .subtitle {
    padding: 3rem 0;
    line-height: 1.5;
}

figure img {
    border-image-slice: 20;
    border-image-width: 20;
}

p,
li,
button,
form {
    font-family: $util-font;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $head-font;
}

.react-calendar__tile--now {
    background: $orange;
}

.bg-main {
    background: url("../static/img/mountains.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-image {
    background: url("../static/img/vw3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-login {
    background: url("../static/img/beachdark.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-trips {
    background: white;
}

.bg-fav {
    background: url("../static/img/mountains.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu-list li ul {
    border-left: none;
    margin: 0.75em;
    padding-left: 0;
}

.react-calendar {
    margin: auto;
    width: 470px;
    border: 1px solid white !important;
    min-width: 100%;
}

element.style {
    flex-basis: 14.2857%;
    max-width: 14.2857%;
    overflow: hidden;
}

.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
}

.react-calendar__tile--active {
    background: $primary;
}

.react-calendar__tile--now {
    background: $orange;
}

.is-active {
    color: black;
}

.p-fix {
    padding: 5rem 0;
}

.card {
    height: 500px;
    overflow: hidden;
}

.t-shadow {
    text-shadow: 1px 1px 2px $brown;
}

.b-shadow {
    box-shadow: 2px 2px 4px $brown;
}

.fav-dest {
    position: absolute;
    top: 13px;
    right: 11px;
    z-index: 1;
}

a.likes {
    color: white;
}

a.likes:hover {
    color: $pink;
}